/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #f4f4f4;
}
body {
  width: 100%;
  height: 100%;
  background-color: #2e3141;
}
body,
input,
select,
textarea {
  font-weight: 300;
  line-height: 1.65;
}
html,
body {
  display: flex;
  justify-content: center;
}
section {
  padding: 6rem 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 4rem;
  transition: color 700ms;
}
h1:hover {
  color: #c026ce;
  opacity: 0.6;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #eeeeee;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(white, white, white, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  opacity: 0.4;
}
.section-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.main-navigation {
  width: 100%;
  height: 90px;
  background-color: #2e3141;
  border-bottom: 1px solid #84308b;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation .nav-container .logo-heading {
  font-size: 2rem;
  margin-left: 2%;
}
.main-navigation .nav-container .nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.main-navigation .nav-container .nav a {
  color: white;
  text-decoration: none;
  background-color: #84308b;
  color: #eeeeee;
  padding: 0.3rem 1rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: background-color 700ms;
}
.main-navigation .nav-container .nav a:hover {
  color: #0f0a3f;
  background-color: lightblue;
}
.line {
  height: 4px;
  border-bottom: 1px solid #84308b;
}
#banner {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}
#banner .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner .inner .banner-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
#banner .inner .banner-title h1 {
  font-size: 10rem;
  opacity: 0.2;
}
#banner .inner .banner-title h6 {
  font-size: 2rem;
  font-weight: 300;
}
#banner .inner .banner-title .full-stack {
  margin-bottom: 2rem;
}
#banner .inner .banner-title .web-developer {
  line-height: 0.6;
}
#banner .inner p a {
  text-decoration: dotted;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container .profile-img {
  width: 30%;
  margin-right: 5rem;
  align-content: center;
}
.about .container .about-details {
  width: 50%;
}
.about .container .about-details .about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about .container .about-details .about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about .container .about-details .about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.social-media {
  margin-top: 5rem;
}
.social-media .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media .nav-list li {
  margin-left: 4%;
  margin-right: 4%;
}
.social-media .nav-list li i {
  font-size: 5rem;
  transition: color 650ms;
}
.fa-github-square:hover {
  color: #7fd158;
}
.fa-linkedin-square:hover {
  color: #bd4bda;
}
.skills {
  margin-top: 10rem;
}
.skills .section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills .section-heading h6 {
  border-top: 1px solid white;
  width: 40rem;
  align-content: center;
}
.skills .my-skills {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skills .my-skills .education p {
  font-style: italic;
}
.skills .my-skills .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  text-align: center;
}
.skills .my-skills .skill h1 {
  font-size: 2rem;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 0 2rem 0;
}
.skills .my-skills .skill h1:hover {
  color: #7fd158;
}
.portfolio .section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio .section-heading h6 {
  border-top: 1px solid white;
  width: 50rem;
  align-content: center;
}
.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.portfolio-item .mar-right {
  margin-right: 5rem;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-item .portfolio-img {
  width: 50rem;
}
.portfolio-item .portfolio-description {
  flex: 1;
}
.portfolio-item .portfolio-description a {
  margin-top: 3rem;
}
.portfolio-item .portfolio-description h2 {
  font-size: 2.7rem;
  font-weight: 300;
  margin: 1rem 0;
}
.portfolio-item .portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.portfolio-item .portfolio-description .more-details {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0.8;
  transition: color 700ms;
}
.portfolio-item .portfolio-description .more-details:hover {
  color: #cc70d4;
}
.portfolio-item .portfolio-description #view-project {
  margin-top: 1.5rem;
}
.experience .section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.experience .section-heading h6 {
  border-top: 1px solid white;
  width: 70rem;
  align-content: center;
}
#work-history {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  border-collapse: collapse;
  width: 100%;
}
#work-history td,
#work-history th {
  border: 1px solid #ddd;
  padding: 0.9%;
}
#work-history tr:nth-child(odd) {
  background-color: #43485f;
  transition: background-color 700ms;
}
#work-history tr:nth-child(odd):hover {
  background-color: #abafc3;
}
#work-history tr:nth-child(even) {
  background-color: #585e7d;
  transition: background-color 700ms;
}
#work-history tr:nth-child(even):hover {
  background-color: #8d92ae;
}
#work-history tr th {
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 1%;
  text-align: left;
  background-color: #2e3141;
  color: white;
}
.contact .section-heading {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .section-heading h6 {
  border-top: 1px solid white;
  width: 30rem;
  align-content: center;
}
.contact form {
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
}
.contact form label {
  font-size: 1.5rem;
}
.contact form input,
.contact form select,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
}
.contact form input[type="submit"] {
  width: initial;
  background-color: #84308b;
  color: #eeeeee;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 700ms;
}
.contact form input[type="submit"]:hover {
  color: #0f0a3f;
  background-color: lightblue;
}
address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}
address .address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
}
address .address i {
  color: #f4f4f4;
  margin-bottom: 1rem;
  margin-right: 3rem;
  transition: color 650ms;
}
address .address i:hover {
  color: #7fd158;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  border-top: 1px solid #84308b;
}
.line-bottom {
  height: 4px;
  border-top: 1px solid #84308b;
}
