.main-navigation {
  width: 98%;
  height: 90px;
  background-color: #2e3141;
  border-bottom: 1px solid rgb(132, 48, 139);
  position: fixed;
  top: 0;

  z-index: 9999;

  .nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media @mobile {
      .custom-layout(center,center);
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
    }
    @media @tablet {
      .custom-layout(center,center);
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
    }

    .logo-heading {
      font-size: 2rem;
      margin-left: 2%;

      @media @mobile {
        margin-left: 0rem;
      }
      @media @tablet {
        margin-left: 0rem;
      }
    }

    .nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;

      @media @mobile {
        width: 90%;
        justify-content: space-around;
      }

      a {
        // font-size: 1.6rem;
        color: white;
        text-decoration: none;

        background-color: rgb(132, 48, 139);
        color: #eeeeee;
        padding: 0.3rem 1rem;
        font-size: 1.6rem;
        border-radius: 0.4rem;
        margin: 0 1rem;
        cursor: pointer;
        transition: background-color 700ms;
        &:hover {
          color: rgb(15, 10, 63);
          background-color: lightblue;
        }
        @media @tablet {
          font-size: 1.4rem;
          margin: 0 0.4rem;
        }
        @media @mobile {
          font-size: 1.2rem;
          margin: 0 0.4rem;
        }
      }
    }
  }
} // .main-navigation

.line {
  height: 4px;
  border-bottom: 1px solid rgb(132, 48, 139);
}
